<div class="row">
    <h1>Listado de Peliculas</h1>
    <div class="row">
        <div class="col-md-12">
            <%= link_to 'Nueva pelicula', movie_new_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <% @movies.each do |movie| %>
        <div class="col-md-6 ">
            <div class="card mt-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: <%= movie.name %></li>
                    <li class="list-group-item">Sinopsis: <%= movie.synopsis %></li>
                    <li class="list-group-item">Director: <%= movie.director %></li>
                </ul>
            </div>
        </div>
    <% end %>
</div>
