<div class="row">
    <h1>Listado de Series</h1>
    <div class="row">
        <div class="col-md-12">
            <%= link_to 'Nueva serie', serie_new_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <% @series.each do |serie| %>
        <div class="col-md-6">
            <div class="card mt-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: <%= serie.name %></li>
                    <li class="list-group-item">Sinopsis: <%= serie.synopsis %></li>
                    <li class="list-group-item">Director: <%= serie.director %></li>
                </ul>
            </div>
        </div>
    <% end %>
</div>
